body {
  font-family: "Courier New", Courier, monospace;
  background-color: #BDB76B;
  margin: 0;
  padding: 10 10 10 10px;
}

.container {
  background: #EEE8AA;
  border-radius: 10px;
}

.header.menu {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 10px;



}

.container.notes-wrapper {
  max-width: 800px;
  margin-top: 50px;
  background: #EEE8AA;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 80vh;
  display: flex;
  flex-direction: column;
  border-radius: 50px;

}

.container.edit-wrapper {
  max-width: 800px;
  margin-top: 50px;
  background: #EEE8AA;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.container.add-wrapper {
  max-width: 800px;
  margin-top: 50px;
  background: #EEE8AA;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notes {
  max-height: 70vh;
  overflow-x: hidden;
  padding-right: 15px;

}

h1 {
  text-align: center;
  color: #333;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h5 {
  color: black;
  font-family: Cochin;
  font-size: 20px;
  font-weight: bold;
}

p {
  text-align: center;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: white;
}


.note {
  background-color: #FFEFD5;
  border-left: 4px solid #007bff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.note strong {
  font-size: 18px;
  color: #222;
}

::placeholder {
  opacity: 0.4 !important;
}

.btn {
  border-radius: 100px;
  text-decoration: none;
}

.full-header {
  width: 100%;
  background-color: beige;
  padding: 20px 10px;  
}

.menu {
  display: flex;
  justify-content: space-between;
}

.add-note-image-btn img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  cursor: pointer;
}

.add-note-image-btn img:hover {
  transform: scale(1.1);

}

.note-counter-box {
  background-color: #BDB76B;
  border: 2px solid black;
  border-radius: 100px;
  padding: 5px 20px;
  color: black;
  font-size: 1.2rem;
  transition: all 0.5s ease;

}

.note-counter-number {
  font-size: 1.2rem;
}

.note-counter-label {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
}

.home-box {
  background-color: #BDB76B;
  border: 2px solid black;
  border-radius: 100px;
  padding: 5px 20px;
  color: black;
  font-size: 1.2rem;
  transition: all 0.5s ease;

}

.card-body {
  color: 2F4F4F;
  font-family: Cochin;
}